# Supabase Configuration
VITE_SUPABASE_URL=https://dkgsrtyobaslgennntuol.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRrZ3NydHlvYmFzbGdlbm50dW9sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc0NTk1MTcsImV4cCI6MjA4MzAzNTUxN30.wOn0t5nNHlaIpN2qbyiysLcL7wSg22suvk_yK636SsA

# Gemini AI Configuration
VITE_GEMINI_API_KEY=AIzaSyB31R38Z9pHHBx6nVU1fM61aZYwUf_WLDI